<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="account">
  	<select id="selectAccountAll" resultType="recoder.single.bangle.account.DTO.AccountDTO">
  		select userName,substr(to_char(reportingDate,'yyyy"년"MM"월"dd"일"'),1,8)as formedreportingdate,sum(income)as income,sum(expense)as expense from account_book where id=#{id}  group by userName,substr(to_char(reportingDate,'yyyy"년"MM"월"dd"일"'),1,8) order by formedreportingdate desc
  	</select>
  	<select id="ListAllByFormedReportingDate" resultType="recoder.single.bangle.account.DTO.AccountDTO">
  		select * from account_book where id=#{id} and substr(to_char(reportingDate,'yyyy"년"MM"월"dd"일"'),1,8) = #{formedDate} order by reportingdate desc
  	</select>
  	<insert id="insertAccountData">
  		insert into account_book values (ACCOUNT_BOOK_SEQ.nextval,#{id},#{userName},#{reportingDate},#{details},#{payments},#{spec},#{income},#{expense},#{remarks})
  	</insert>
  	<delete id="deleteAccountByMonth">
  		delete from account_book where substr(to_char(reportingDate,'yyyy"년"MM"월"dd"일"'),1,8) = #{formedReportingDate}
  	</delete>
  	<delete id="deleteAccountBySeq">
  		delete from account_book where seq = #{seq}
  	</delete>
  	<update id="modifyAccount">
  		update account_book set reportingDate=#{reportingDate},details=#{details},payments=#{payments},spec=#{spec},income=#{income},expense=#{expense},remarks=#{remarks} where seq=#{seq} and id=#{id} and username=#{userName}
  	</update>
  </mapper>
  