<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Admin">
  	
<!--   	get blacklist -->
  	<select id="getBlackList" resultType="recoder.single.bangle.admin.BlackListDTO.BlackMember">
  		select b.seq, id, b.addedDate, b.reason from member m natural join blacklist b
  	</select>
  	
  </mapper>