<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="File">
	<insert id="insert">
		insert into livingFile values (file_seq.nextval,#{rootSeq},#{fileName},#{oriFileName})
	</insert>
	
	<delete id="deleteFile">
		delete from livingFile where rootSeq = #{value}
	</delete>

<!-- 	<select id="selectPic" resultType="java.lang.String"> -->
<!-- 		select fileName from livingFile where rootSeq = #{rootSeq} -->
<!-- 	</select> -->

</mapper>  
