<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Restaurant">
	<select id="selectAll" resultType="recoder.single.bangle.restaurant.DTO.RestaurantDTO">
		select * from restaurant order by seq desc
	</select>
	
	<select id="selectN" resultType="recoder.single.bangle.restaurant.DTO.RestaurantDTO">
		select * from restaurant where approvalCheck = 'N' order by seq desc
	</select>
	
	<select id="selectY" resultType="recoder.single.bangle.restaurant.DTO.RestaurantDTO">
		select * from restaurant where approvalCheck = 'Y' order by seq desc
	</select>
	
	<insert id="insert" parameterType="recoder.single.bangle.restaurant.DTO.RestaurantDTO">
		insert into restaurant values (restaurant_seq.nextval, #{writer}, #{title}, #{placeName}, #{jibunAddr}, #{roadAddr}, 
										#{placePhone}, #{placeUrl}, #{xPos}, #{yPos}, sysdate, 'N')
	</insert>
	
	<select id="getMaxSeq" resultType="Integer">
		select max(seq) from restaurant where writer = #{writer}
	</select>
	
	<select id="selectBySeq" resultType="recoder.single.bangle.restaurant.DTO.RestaurantDTO">
		select * from restaurant where seq = #{seq}
	</select>
	
	<update id="update" parameterType="recoder.single.bangle.restaurant.DTO.RestaurantDTO">
		update restaurant set title = #{title} where seq = #{seq}
	</update>
	
	<update id="approval" parameterType="Integer">
		update restaurant set approvalCheck = 'Y' where seq = #{seq}
	</update>
	
	<delete id="delete" parameterType="Integer">
		delete from restaurant where seq = #{seq}
	</delete>
</mapper>